<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index">
<head>
    <title>Favourite Artists</title>
</head>

<body>
<div layout:fragment="content">
    <table class="table table-bordered" th:if="${!artists.empty}">
        <thead>
        <tr>
            <th>Artist</th>
            <th>Best known song</th>
            <th>Information</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="artist : ${artists}">
            <td><strong th:text="${artist.getName()}"></strong></td>
            <td><strong th:text="${artist.getBestKnownSong()}"></strong></td>
            <td><a th:href="${artist.getUrl()}"><strong th:text="${artist.getUrl()}"> </strong></a></td>
        </tr>
        </tbody>
    </table>
    <strong th:if="${artists.empty}">No artists available!</strong>
</div>
</body>
</html>