<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Music Graph</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/loading.css"/>
    <script th:src="@{/js/loading.js}"></script>
</head>

<body>
<div class="container">
    <section class="py-5">
        <div style="display: flex; justify-content: space-around;" class="align-items-center">
            <div>
                <h1 class="display-6">Music Graph Application</h1>
                <p class="lead">Learn your music interest based on your previous listening experience</p>
            </div>
            <img src="/img/music.png" class="img-responsive" style="width: 20%; height: 20%" alt="music tree"/>
        </div>
    </section>

    <div class="col-md-12 text-center align-items-center">
        <a class="btn btn-lg btn-primary" href="/" role="button">Home</a>
        <a class="btn btn-lg btn-primary" href="/favouriteArtists" role="button">Favourite artists</a>
        <a class="btn btn-lg btn-primary" href="/favouriteGenres" role="button">Favourite genres</a>
    </div>
    <div layout:fragment="content">
        <div class="text-center" style="margin-top: 3em">
            <a class="btn btn-lg btn-danger" href="/uploadData" role="button">Upload data</a>
        </div>
    </div>
</div>
</body>
</html>